body {
    background-color: #ffffff;
    color: #0d6efd;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-weight: bold;
}

table {
    background-color: #ffffff;
}

.table-hover tbody tr:hover {
    background-color: #e6f0ff;
}

.high-temp {
    color: #ffffff;
    background-color: #0d6efd;
    font-weight: bold;
}
